- name: Play 1 - Run Roles for miscellaneous softwares,Apache & Tomcat
  hosts: webservers
  become: yes
  vars:
    v_role_path: "roles"
  roles:
    - "{{ v_role_path }}/miscellaneous"
    - "{{ v_role_path }}/apache"
    - "{{ v_role_path }}/tomcat"

